* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eee;
  font-family: "Lato", sans-serif;
}
#header {
  display: grid;
  grid-template-columns: 1fr auto;
  position: fixed;
  top: 0px;
  padding: 10px 20px;
  background-color: #eee;
  align-items: center;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 35vw;
}
li {
  list-style: none;
}
.nav-link {
  color: black;
  text-decoration: none;
}
#logo {
  width: 60vw;
}
#header-img {
  max-width: 300px;
  margin-left: 30px;
  width: 100%;
  height: 100%;
}
#form {
  display: grid;
  margin-top: 70px;
  grid-template-areas:
    "h2"
    "input"
    "submit";

  grid-gap: 2vw;
}
#search {
  grid-area: h2;
  text-align: center;
}
#email {
  grid-area: input;
  max-width: 275px;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
}
#submit {
  grid-area: submit;
  width: 100%;
  max-width: 150px;
  height: 30px;
  margin: 0 auto;
  padding: 0 10px;
  border: 0;
  background-color: #f1c40f;
  font-weight: 900;
  font-size: 1em;
}
.icon {
  color: darkorange;
  /*   background-color: blue; */
}
.fafa {
  font-weight: 900;
  font-size: 4em;
  font-family: "Font Awesome 5 Free";
  text-align: center;
}

#features {
  display: grid;
  margin-top: 100px;
  grid-gap: 2vw;
}
.grid {
  display: grid;
  grid-template-columns: 90px 100%;
}

.desc {
  padding: 15px 0 0 20px;
}

#how_it_works {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#how_it_works > iframe {
  max-width: 560px;
  width: 100%;
}
#pricing {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: center;
  text-align: center;
}
.trombones {
  border: 1px solid black;
  margin: 10px;
  width: 300px;
  border-radius: 2px;
}
.level {
  font-weight: 700;
  padding: 15px 0;
  background-color: #ddd;
}
.trombones > h2 {
  padding-top: 15px;
}
.trombones > ol {
  padding: 15px 0;
}
.trombones > ol > li {
  padding: 5px 0;
}
.btn {
  margin: 15px 0;
  border: 0;
  font-weight: 400;
  background-color: #f1c40f;
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 2px;
}
#container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 15px;
}
footer > ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
footer > ul > li {
  padding: 0 10px;
}
footer > ul > li > a {
  text-decoration: none;
  color: black;
}
#copy {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  font-size: 0.9em;
  color: #444;
}
@media screen and (max-width: 650px) {
  nav ul {
    flex-direction: column;
    padding: 0;
  }
  nav ul li {
    padding: 5px 5px;
  }
  #header-img {
    margin: 0 auto;
  }
  #form {
    padding-top: 90px;
  }
  .grid {
    display: flex;
    width: 90vw;
  }
  #pricing {
    flex-direction: column;
    margin-top: 60px;
  }
  .trombones {
    margin: 5px auto;
  }
}
@media screen and (max-width: 600px) {
  #header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  nav ul {
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 550px) {
  .icon {
    display: none;
  }
  .desc {
    text-align: center;
  }
}
